/*
Theme Name: Pluto
Author: viaviwebtech
Author URI: http://viaviweb.com
Description: Pluto is a Modern minimal ultra responsive theme with a lot of features including responsive featured slider and Fully Customizable Header and Footer. Pluto has been translated into Many Languages including Dutch, German, French, Italian, Portuguese, Spanish & many more. Other Feature of Pluto Include Custom Widget, Full Width Pages, BX Slider, and Social Icons.
Version: 8.0.0.0
License: GNU General Public License
License URI: license.txt
Text Domain: Pluto
Tags: white, light, custom-background, two-columns, right-sidebar, responsive-layout, custom-menu, sticky-post, theme-options, threaded-comments, translation-ready, featured-images, full-width-template

Pluto is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

Pluto WordPress Theme is distributed under the terms of the GNU GPL v3.
*/

/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
	scroll-behavior: smooth;
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	/*text-align: center;*/
	background: #2d2d2d;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #F9FFEE;
	font-family: sans-serif;
	font-size: 16px;
	font-size: 1.6rem;
	line-height: 1.5;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}
/* Headings */
h1, h2, h3, h4, h5, h6 {
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}
.menu-toggle{ color:#fff;}
/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style:normal;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	filter: brightness(.9) contrast(1.1);
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 97%;
}

/* Links */
a {
	color: #d15618;
	text-decoration: none;
	font-weight: bold;
}
a:visited {
}
a:hover,
a:focus,
a:active {
	text-decoration: underline;
	color:white;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: '';
	display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}


/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
	box-shadow: 0 0 10px  white;	
	border-radius: 15px;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.2em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-submit {
	display: none;
}

/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

/*Main Coding Begins Here*/
body {
	font-family: Helvetica, Arial, sans-serif; 
}
header#masthead {
	width: 1100px;
	margin: auto;
}
.site-branding {
	width: 40%;
	float: left;
	padding: 20px 0px;
}
h1.site-title a {
	text-decoration: none;
	font-weight: bold;
	font-size: 36px;
	color: white;
	display: block;
	margin: 20px 0px;
	text-shadow:0 0 0.5em white;
}
.logo-container {
	position: relative;
		top: -15px;
	margin-bottom: -15px;		
}
.main_logo {
	max-width: 360px;
	max-height: 125px;
	display: block;
}
@media screen and (max-width: 360px) {
	.main_logo {
		max-width: 320px;
		height: auto;
		display: block;
	}
}

/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background: #333;
	margin-bottom: 30px;
	/*box-shadow:0px 3px 3px #333;*/
}
#nav-container {
	width: 1100px;
	margin: auto;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
	color: #fff;
	text-decoration: none;
	padding: 20px 20px;
	font-weight: bold;
}
.main-navigation a:hover {
	background: #f3f3f3;
	/*border-bottom: #0C9 solid 4px;
	padding-top: 16px;*/
}
.main-navigation .current_page_item > a {
	background:none repeat scroll 0 0 hsl(0, 0%, 85%);
	color:#000;
	/*border-bottom: solid 4px #222;
	padding-top: 17px;*/ 
}
	
.main-navigation ul ul {
	/*box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);*/
	display: none;
	float: left;
	position: absolute;
		top: 4.0em;
		left: 0;
	z-index: 99999;
	background: #f3f3f3;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
	font-size: 14px;
	font-weight: normal;
	color: #555;
	padding: 8px 20px;
	font-weight: 400;
}
.main-navigation ul ul a:hover {
	border-top: none;
	background: #333;
	color: #eee;
	padding: 8px 20px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
	background: #f3f3f3;
	/*border-bottom: #42c418 solid 4px;
	padding-top: 17px;*/
	color:#333;
}
.main-navigation ul ul li:hover > a {
	background: #333;
	border-top: none;
	padding: 8px 20px;
	color: #eee;
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}
/*Content Regions*/
#content {
	margin-top: 100px;	
	width: 1100px;
	margin: auto;
}
#primary {
	width: 64%;
	float: left;
	padding: 15px;
	padding-top: 0px;
	background: #121212;
	border:1px solid hsl(0, 0%, 95%);
	box-shadow: 0 0 10px  white;	
	border-radius: 15px;
}
.primary-full {
	width: 100% !important;
	float: none;
	margin: auto;
	margin-bottom: 100px;
}
#secondary {
	display: flex;
	float: right;
	width: 29%;
	background: #121212;
	padding:0 10px 10px 10px;
	box-shadow: 0 0 10px  white;	
	border-radius: 15px;
	justify-content: space-around;
}
h1.page-title {
	padding: 10px;
	background: #121212;
	border-bottom: solid 1px #ddd;
	font-weight: bold;
	margin-top: 15px;
}
h1.entry-title a, h1.entry-title {
	font-size: 40px;
	color: #dedede;
	text-align: center;
}
h1.entry-title a:hover {
	text-decoration:underline;
	color: #000;
}
.entry-meta { 
	font-size: 12px;
	background: #121212;
	padding: 3px 5px;
}
.entry-meta a {
	color: #d15618;
}
span.comments-link {
	float: right;
}
#featured_image {
	width: 150px;
	float: left;
	clear: left;
	margin: 20px 10px 10px 3px;
}
#featured_image img {
	width: 100%;
	box-shadow: 0 0 10px white;
	border-radius: 15px;
}
.entry-content {
	margin-top: 19px;
	border-bottom: solid 1px #ddd;
}
article.post {
	padding-bottom: 50px;
	background: url('https://personajes.top/wp-content/themes/pluto/images/divider.png') bottom left repeat-x;
	
}
entry-meta .comments-link { float: right; }

/*Sidebar */
h1.widget-title {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-transform: uppercase;
	font-size: 18px;
	color:hsl(0, 0%, 50%);
	background:  url('https://personajes.top/wp-content/themes/pluto/images/divider.png') bottom left repeat-x;
	padding-bottom: 20px;
	padding-top: 10px;
	margin-bottom: 15px;
}
.widget > ul {
	margin-left: 2px;
	list-style: none;
}
.widget ul li {
	border-bottom: solid 1px #eee;
}
.widget a {
		color: #666;
		display: inline-block;
		padding: 3px 0px;
}
.widget a:hover {
	color: #000;
}
.widget ul ul li {
	border-bottom: none;
}

/*Footer*/
#colophon {
	padding: 10px;
	width: 98%;
	background: #121212;
	border-top: solid 1px #ccc;
}
#footer-container {
	width: 1100px;
	margin: auto;
}
#footertext {
	margin-bottom: 20px;
	float: left;
}
.site-info {
	float: left;
	width: 49%;
	font-size: 14px;
}
#footer-navigation {
	float: right;
	width: 49%;
	text-align: right;
}
#footer-navigation ul {
	list-style: none;
}
#footer-navigation ul li a {
	padding: 0px 6px;
}
#footer-navigation ul li {
	display: inline;
}
#footer-navigation ul ul {
	display: none;
}

/*Scroll To Top*/	
.scrollToTopBtn {
	display: flex;
	justify-content: space-around;
	background-color: white;
	border: none;
	color: black;
	cursor: pointer;
	font-size: 18px;
	line-height: 48px;
	width: 48px;
	border-radius: 25px;
	opacity: 0.5;
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 100;
}

/*slider*/
#slider-wrapper {
	margin: auto;
	width: 1090px;
	clear: both;
}
.bxslider {
	display: block;
	margin: 0px;
	clear: both;
}
.bxslider li img {
}
/*individual post page*/
#post_thumbnail {
	text-align: center;
	margin: 15px;
}
#post_thumbnail img {
	border: 10px solid #fff;
	box-shadow: 0 0 10px white;
	border-radius: 15px;
}
article h1 {
	font-size: 36px;
	margin-top: 10px;
}
article h2 {
	font-size: 32px;
	margin-top: 10px;
}
article h3 {
	font-size: 28px;
}
article h4 {
	font-size: 25px;
}
article h5 {
	font-size: 22px;
}
article h6 {
	font-size: 18px;
}
article blockquote {
	padding: 15px 50px;
	padding-top: 25px;
}
article blockquote:before {
	content: url("https://personajes.top/wp-content/themes/pluto/images/quote.png");
	position: relative;
		left: -60px;
		top: -30px;
	padding: none;	
	display: block;
	height: 0;
}
 article table td {
	 padding: 7px;
	  background: #121212;
 }
 article table th {
	 background: #121212;
	 padding: 10px 5px;
	 color: #F9FFEE;
 }
 article table tr:nth-child(even) {
	 border-bottom: solid 1px #ddd;
 }
 article table tr:nth-child(odd) {
	 border-bottom: solid 1px #ddd;
 }
  article table th:nth-child(even) {
	 border: solid 1px #ddd;
 }
 article table th:nth-child(odd) {
	 border: solid 1px #ddd;
 }
 article table td {
	 border: solid 1px #ddd;
 }
 article ul ul {
	 list-style: circle;
 }
 article ul ul ul {
	 list-style: disc;
 }
 article ol ol {
	 list-style: lower-roman;
 }
 article ol ol ol {
	 list-style: lower-alpha;
 }
 
 /*Comments Section */
 
 h2.comments-title {
	 font-size: 26px;
	 text-transform: uppercase;
	 margin-bottom: 50px;
 }
 .comment-list {
	 list-style: none;
	 margin: 0;
	 padding: 0;
 }
 li.comment {
	 display: block;
	 clear: both;
 }
 .comment-meta {
	 display: inline-block;
	 clear: none;
	 float: left;
	 margin-right: 10px;
	 text-align: center;
	 width: 125px;
	 margin-top: 20px;
 }
 .comment-meta img {
	 width: 70px;
	 border-radius: 65px;
	 padding: 0px 25px;	 
 }
 .comment-content {
	 width: 530px;
	 float: left;
	 background: #fff;
	 margin-top: 20px;
	 padding: 15px;	 
 }
 li.comment li.comment:before {
	 display: block;
	 height: 0;
	 content: url("https://personajes.top/wp-content/themes/pluto/images/replied.png");
	 position: relative;
	  left: -29px;
	  top: 27px;
 }
 .depth-1 .comment-content {
	 width: 505px;
 }
 .depth-2 .comment-content {
 	width: 479px;
 }
.depth-3  .comment-content {
	  width: 457px;
 }
.depth-4 .comment-content {
 	width: 429px !important;
 }
 .depth-5 .comment-content {
	width: 404px !important;	 
 }

/*comment Form*/
#respond {
	padding-top: 30px;
	padding: 15px;
	border: dashed 1px #ddd;
}
h3#reply-title {
	padding-top: 40px;
	font-weight:bold;
	color: #444;
	font-size:28px;
	text-transform: uppercase;
	font-weight: bold;
}
.required {
	color: red;
}
.comment-notes {
	font-size: 12px;
	margin-top: 5px !important;
}

#respond input {
	display: block;
	width: 70px;
}
#respond label, .required {
	position: relative;
	top: 29px;
	left: 10px;
	background: #eee;
	padding: 14px 10px;
	margin-left: -10px;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
}
.comment-notes .required {
	background: none;
	margin-left:none;
	padding: none;
	position: relative;
	top: 0px;
	left: 0px;
}
.required {
	position: relative;
		top: 0px;
}
#respond input[type=text] {
	width: 300px;
	outline: none;
	background: #fff;
	border: solid 1px #eee;
	padding:10px 0 10px 70px;
}
#respond textarea {
	padding: 28px 10px;
	OUTLINE: NONE;
	background: #fff;
	border:1px solid hsl(0, 0%, 88%);
}
.comment-form-comment label {
	border-bottom-right-radius: 3px;
	border-top-left-radius: 3px;
}
#respond p {
	display: block;
	margin-top: -20px;
}
#respond #submit {
	width: 125px;
}
p.logged-in-as {
	display: block;
	position: relative;
	top: 20px;
}
/*styling for default sidebar widgets*/
.widget_search {
	background: none;
}
.widget_search input[type=search] {
	outline: none;
	background: #eee;
	border: none;
	font-size: 14px;
	width: 66%;
	font-family: Arial, Helvetica, sans-serif;	
    border: 1px solid hsl(0, 0%, 88%);
    border-radius: 5px 0 0 5px;
    color: hsl(0, 0%, 60%);
    float: left;
    height: 26px;
    padding: 5px 10px;
}
.widget_search input[type=submit] {
	display: inline;
	background: #79cb5e;
	border: none;
	padding: 11px 15px;
	height: 38px;
	box-shadow: none;
	border-radius: 0px 5px 5px 0;
	position: relative;
	color: #000;
	font-size:13px;
	text-shadow: none;
	text-transform: uppercase; 
}
.widget_search input[type=submit]:hover {
	background: #060;
	color:#fff;
}

.widget_search input[type=submit]:active {
	border-bottom: solid #060 2px;
	height: 29px;
		position: relative;
		top: -2px;
}
.widget_calendar caption {
	background: #eee;
	padding: 5px;
	border-bottom: solid 1px #ddd;
}
.widget_calendar thead tr th:nth-child(even) {
	background: #fff;
	padding: 5px;
	text-align: center;
	border-bottom: solid 1px #eee;
}
.widget_calendar thead tr th:nth-child(odd) {
	background: #eee;
	padding: 5px;
	text-align: center;
}
.widget_calendar td, th {
	text-align: center;
	width: 20px !important;
	height: 30px !important;
}
.widget_calendar tr td:nth-child(odd) {
	background: #f9f9f9;
}
.widget_calendar tr:nth-child(odd) td:nth-child(even) {
	background: #f9f9f9;
}
.widget_calendar tr:nth-child(odd) td:nth-child(odd) {
	background: #eee;
}
.widget_calendar tr:nth-child(even) td:nth-child(even) {
	background: #eee;
}
td#prev, td#next, td.pad {
	background: none !important;
	text-align: start;
}
td#next {
	text-align: right;
}

.widget_nav_menu div > ul {
	margin-left: 0px;
	list-style: none;
}
/*social icons*/
#social_icons {
	float: right;
	margin-top: 45px;
}
#social_icons img {
	width: 46px;
	transition: all 0.5s ease;
}
#social_icons img:hover {
	transform: rotate(90deg);
	-webkit-transform: rotate(360deg);
}
.rp {
	margin:0;

}
@media screen and (min-width: 768px){
.rp {
	width:70%;
	margin: 0 auto;
	text-align: center;
	}
}
.rp-item {
	display: block;
	clear: both;
	overflow: auto;
	/*margin-bottom: 15px;*/
	list-style: none;
	border: solid 2px #eee;
	border-radius: 15px;
}
.rp-thumb {
	float: left;
	width: 150px;
	margin-right: 10px;
}
.rp-thumb img {
	width: 100%;
	border: solid 4px #eee;
	box-shadow: 0 0 10px white;
	border-radius: 15px;
}
.rp-title {	
	clear: none;
	margin: 8% auto;
	text-align: center;
}
.rp-title a {
	display: block;
}
@media screen and (min-width: 768px){
.rp-title {	
	margin: 10% auto;
}
}
.rp-date {
	color: #878787;
	font-size: x-small;
	display: block;
	margin-top: -1px;
	margin-bottom: 10px;
}
/* RESPONSIVE DESIGN BEGINS BELOW */
/*for smaller pcs and older desktops*/
@media screen and (max-width: 1099px) and (min-width: 960px) {
	header#masthead, #nav-container, #content, #slider-wrapper, #footer-container {
		width: 960px;
	}
	.widget_search input[type=search] {
		width: 65%;
	}
	.depth-1 .comment-content { width: 440px; }
	.depth-2 .comment-content { width: 415px; }
	.depth-3 .comment-content { width: 390px; }
	.depth-3 ul .comment-content { width: 365px !important; }
	.depth-3 ul ul .comment-content { width: 330px !important;  }
}

/*For all Tables*/
@media screen and (min-width: 768px) and (max-width: 959px)  {
	header#masthead, #nav-container, #content, #slider-wrapper, #footer-container {
		width: 95%;
	}
	#primary { width: 95%; }
	#secondary { width: 60%; float: none; margin: auto; }
	
	.site-info, #footer-navigation, #footertext {
		display: block;
		min-width: 80%;
		float: none;
		text-align: center;
		margin: auto;
	}
	#footer-navigation {
		position: relative;
		  left: -20px;
	}
}
@media screen and (min-width: 959px) {
	#secondary {		
	position:-webkit-sticky;
	position:sticky;
	top:50px;
	height:100%;
 }
}


				
/*For all remaining Mobile Sizes*/
@media screen and (max-width: 767px) {
	header#masthead, #nav-container, #content, #slider-wrapper, #footer-container {
		width: 95%;
	}
	.site-branding {
		float: none;
		width: 90%;
		margin: auto;
		text-align: center;
		padding-bottom: 5px;
	}
	#social_icons {
		display: block;
		margin-top: 0px !important;
		text-align: center;
		float: none;
		margin: auto;
		margin-bottom: 15px;		
	}
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
		font-weight: bold;
		text-transform: uppercase;
		padding: 10px;
		font-size: 20px;
		padding-bottom: 10px;
		position: relative;
			top: -8px;
	}
	.menu-toggle:before {
		content: url('https://personajes.top/wp-content/themes/pluto/images/menu.png');
		height: 0;
		width: 0px;
		margin-right: 20px;
		position: relative;
		top: 10px;
	}

	.main-navigation ul {
		display: none;
	}
	.main-navigation ul li {
		display: block;
		width: 100%;
	}
	.main-navigation li.current_page_item a {
		border: none !important;
		padding: 12px;
	}
	.main-navigation li a {
		font-size: 16px;
		padding: 12px;
	}
	.main-navigation li a:hover {
		border-top: none !important;
		padding: 12px;
	}
	.main-navigation ul ul {
		display: none !important;
	}
	#primary { width: 95%; }
	#secondary { width: 90%; float: none; margin: auto; }
	
	h1.entry-title, h1.entry-title a {
		font-size: 26px;
		font-weight: bold;
	}
	.site-info, #footer-navigation, #footertext {
		display: block;
		width: 90%;
		float: none;
		text-align: center !important;
		margin: auto;
	}
	#footer-navigation {
		position: relative;
		  left: -20px;
	}
	#primary {
		padding-left: 4px;
	}
	
	/*Special responsive comments section for mobile devices.*/
	.comment-content {
		width: 90% !important;
	}
	.comment-meta img {
		display: block;
		margin: auto;
	}
	.comment-meta img:after {
		content: "<div class=clear></div>";
	}
	.comment-meta {
		float: none;
		width: 90%;
		text-align: center;
		margin: 20px auto;
	}
	.depth-3 ul .comment-content { width: 90% !important; }
	.depth-3 ul ul .comment-content { width: 90% !important;  }
}
@media screen and (max-width:480px) {

.widget_search input[type="submit"] {
    background: none repeat scroll 0 0 hsl(105, 51%, 58%);
    border: medium none;
    border-radius: 0 5px 5px 0;
    box-shadow: none;
    color: hsl(0, 0%, 0%);
    display: inline;
    font-size: 13px;
    height: 38px;
    padding: 11px 8px;
    position: relative;
    text-shadow: none;
    text-transform: uppercase;
}	
	#colophon {
		width: 95%;
	}
}
.pagination ul {
	text-align: center;
	list-style: none;
	margin-left: 0px;
}
.pagination ul li {
	display: inline;
}
.pagination ul li span, .pagination ul li a {
	padding: 5px 10px;
	background: #eee;
	margin-right: 8px;
	border: solid 1px #ddd;
}

/*BOTON PARA ALIEXPRESS*/

.boton-aliexpress {
    display: inline-block;
    padding: 10px 20px;
    background-color: #d32f2f; /* Rojo característico de AliExpress */
    color: #fff; /* Texto en color blanco */
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.boton-aliexpress:hover {
    background-color: #b71c1c; /* Cambia el tono de rojo al pasar el ratón sobre el botón */
}

.flex-ads{
display: flex;
justify-content: center;
}
